
//Colors that will be required by us are being strored in variables for ease of use

$primary: #FE5F1E;

$primary-hover : #b23301;

$secondary: #F8F8F8;

$pure: #fff;

$dark:#232323;

$gray: #ccc;



// Variable for Transition

$smooth: all .3s ease-in-out;